@use "variables.scss" as *;
.headContainer {
  display: flex;
  padding: 1rem;
  cursor: auto !important;
  div {
    display: flex;
    justify-content: flex-start;
  }
  .title {
    width: 50%;
  }
  .column {
    margin-left: 0.5rem;
    row-gap: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between !important;
    .name {
      font-size: $lgFontSize;
      font-weight: bold;
    }
  }
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: auto !important;
  & > div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}
.detailsTr:hover {
  background-color: $primaryColor !important;
}
.increase {
  color: rgb(0, 255, 0) !important;
}
.decrease {
  color: rgb(255, 0, 0) !important;
}
.highlight {
  color: white !important;
}
.details {
  width: 50%;
  .column {
    span {
      font-weight: bolder;
      font-size: $fontSize;
      color: gray;
    }
  }
}
.switchContainer {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem 0;
  column-gap: 5px;
  div {
    color: $accentedColor;
    padding: 1rem 2rem;
    border-radius: 40px;
    cursor: pointer;
  }
  div:hover,
  .active {
    background-color: $accentedColor;
    color: white;
  }
}
.buttonContainer {
  width: 50%;
  margin: 0 auto;
}
.favoriteButton {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 20px;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}
