@use "variables.scss" as *;
@use "mixins.scss" as *;
.priceTable {
  @include boxShadow;
  width: 60rem;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 1rem;
  img {
    display: block;
    margin: 0 auto;
  }
  td,
  th {
    background-color: $secondaryColor;

    padding: 10px;
    vertical-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tr {
    transition: background-color 250ms;
    border-bottom: 1px solid slategray;
  }
  td {
    background-color: rgba(17, 153, 250, 0.05);
    cursor: pointer;
  }
  tr:hover {
    background-color: rgba(17, 153, 250, 0.12);
  }
}
.flashGreen {
  background-color: rgba(60, 255, 60, 0.5);
}
.flashRed {
  background-color: rgba(255, 60, 60, 0.5);
}
.increase {
  color: rgb(0, 255, 0);
}
.decrease {
  color: rgb(255, 0, 0);
}
.tableContainer {
  margin-bottom: 1rem;
}
.favoriteButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
