@use "variables.scss" as *;
@use "mixins.scss" as *;
.priceTable {
  @include boxShadow;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
  img {
    display: block;
    margin: 0 auto;
  }
  td,
  th {
    background-color: $secondaryColor;

    padding: 10px;
    vertical-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  tr {
    transition: background-color 250ms;
    border-bottom: 1px solid slategray;
  }
  td {
    background-color: rgba(17, 153, 250, 0.05);
    cursor: pointer;
  }
  tr:hover {
    background-color: rgba(17, 153, 250, 0.12);
  }

  @include mdScreen {
    tr > *:nth-child(5) {
      display: none;
    }
  }

  @include smScreen {
    tr > *:nth-child(6) {
      display: none;
    }
    tr > *:nth-child(5) {
      display: none;
    }
  }
}
.loadButton {
  display: flex;
  justify-content: center;
  button {
    width: 50%;
  }
}
.flashGreen {
  background-color: rgba(60, 255, 60, 0.5);
}
.flashRed {
  background-color: rgba(255, 60, 60, 0.5);
}
.increase {
  color: rgb(0, 255, 0);
}
.decrease {
  color: rgb(255, 0, 0);
}
.tableContainer {
  margin-bottom: 1rem;
  width: 100%;
}
.detailsTr:hover {
  background-color: $primaryColor !important;
}
