@use "mixins.scss" as *;
.container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  @include lgScreen {
    width: 30rem;
  }
  width: 20rem;
  .searchbar {
    height: 1rem;
    width: 100%;
    padding: 1rem;
    background: whitesmoke;
    color: black;
  }
}
.close {
  cursor: pointer;
  display: flex;
}
