$primaryColor: #12192b;
$secondaryColor: #0b1426;
$accentedColor: lighten(
  $color: $primaryColor,
  $amount: 25,
);
$navbarHeight: 5rem;
$fontSize: 16px;
$mdFontSize: 20px;
$lgFontSize: 32px;
$xlFontSize: 48px;
$inputBackground: #d2d2d2;
$textColor: #000;
$roundedRadius: 15px;
$subNavbarHeight: calc(100vh - $navbarHeight - 5px);
