@use "variables.scss" as *;
@use "mixins.scss" as *;
.loadingContainer {
  height: $subNavbarHeight;
  width: 100%;
  position: relative;
}
.notFound {
  display: flex;
  height: $subNavbarHeight;
  width: 100%;
  justify-items: center;
  justify-content: center;
}
.main {
  margin: 5px auto;
  @include lgScreen {
    width: 60%;
  }
  display: flex;
  justify-content: center;
}
