@use "variables.scss" as *;
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.loadingContainer {
  height: $subNavbarHeight;
  width: 100%;
  position: relative;
}
.notFound {
  display: flex;
  height: $subNavbarHeight;
  width: 100%;
  justify-items: center;
  justify-content: center;
}
.main {
  margin-top: 5px;
}
