@use "mixins.scss" as *;
.skeleton {
  display: flex;
  height: 32px;
}
.value {
  display: flex;
  font-size: larger;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  span {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
  }
}
.container {
  position: relative;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 0.5rem;
  @include lgScreen {
    height: 50vh;
  }
  @include mdScreen {
    height: 30vh;
  }
  h2 {
    margin-bottom: 1rem;
  }
  canvas {
    height: 100% !important;
    width: 100% !important;
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  span {
    line-height: 32px;
  }
}
.flashGreen {
  background-color: rgba(60, 255, 60, 0.5);
}
.flashRed {
  background-color: rgba(255, 60, 60, 0.5);
}
