@use "mixins.scss" as *;
.header {
  display: flex;
  justify-content: center;
}
.container {
  @include container;
  margin: 1rem;
  h1 {
    text-align: center;
  }
}
.dashboard {
  display: grid;
  gap: 1.5rem;
  position: relative;

  @include lgScreen {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr;
  }

  @include mdScreen {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr) repeat(2, 4fr) repeat(2, 2fr);
  }
  .history {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
