@use "mixins.scss" as *;
.header {
  display: flex;
  justify-content: center;
}
.container {
  @include container;
  h1 {
    text-align: center;
  }
}
.dashboard {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}
