@use "mixins.scss" as *;
.header {
  display: flex;
  justify-content: center;
}
.container {
  @include container;
  margin: 1rem;
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.dashboard {
  display: grid;
  gap: 1rem;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 4fr;
  .section {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
