@use "variables.scss" as *;
.button {
  width: 100%;
  border-radius: $roundedRadius;
  background-color: $accentedColor;
  text-align: center;
  border: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.button:hover {
  background-color: lighten($color: $accentedColor, $amount: 3);
}
